.edit-container{
    width: 50%;
    margin: 15vh auto;
    background-color: aliceblue;
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
    font-size: 25px;
    padding: 20px 0;
}
.input-text{
    width: 60px;
    font-size: 20px;
    margin: 0 10px;
}
.edit-container >form>div{
    margin: 20px auto;
}
input{
    cursor: pointer;
}
.submit-btn{
    width: 25%;
    padding :10px 20px;
    background-color: rgb(70, 70, 207);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
hr{
    width: 80%;
    
}
.pair{
    display: grid;
    grid-template-columns: 50% 50%;
}
.hidden{
    display: none;
}