.login-container{
    width: 50%;
    margin: 25vh auto;
    background-color: aliceblue;
    border: 1px solid gray;
    width: 500px;
    box-shadow: 0 0 10px gray;
}
.login-container *{
    display: block;
    margin: 20px auto;
    font-size: 20px;
}
.btn{
    width: 25%;
    padding :10px 20px;
    background-color: rgb(70, 70, 207);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
#error-header{
    color: red;
}
